<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 默认模式 通过ref连接Bean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" >
        <property name="person" ref="person" />
    </bean>
    -->

    <!-- 通过byName 装配  Worker 属性的名字是Person 自动装配personBean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" autowire="byName"/>
    -->

    <!-- 通过byType 装配  Worker 属性的类型是Person 自动装配personBean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" autowire="byType"/>
    -->

    <!-- 通过constructor 装配  Worker 构造函数参数是Person 自动装配personBean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" autowire="constructor"/>
    -->

    <context:component-scan base-package="com.sujiawei.java"/>

    <!--
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor">
        <property name="requiredAnnotationType" value="com.sujiawei.java.common.Mandatory"/>
    </bean>

    <bean id="worker" class="com.sujiawei.java.bean.Worker">
        <property name="name" value="sjwworker"/>
        <property name="person" ref="person" />
    </bean>

    <bean id="person" class="com.sujiawei.java.bean.Person" >
        <property name="name" value="sjw"/>
    </bean>
    -->

    <bean id="customerBean" class="com.sujiawei.java.bean.Worker">
        <property name="name" value="#{'yiibai'.toUpperCase()}" />
        <property name="amount" value="#{priceBean.getSpecialPrice()}" />
    </bean>

    <bean id="priceBean" class="com.sujiawei.java.bean.Address" />

</beans>