<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 默认模式 通过ref连接Bean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" >
        <property name="person" ref="person" />
    </bean>
    -->

    <!-- 通过byName 装配  Worker 属性的名字是Person 自动装配personBean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" autowire="byName"/>
    -->

    <!-- 通过byType 装配  Worker 属性的类型是Person 自动装配personBean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" autowire="byType"/>
    -->

    <!-- 通过constructor 装配  Worker 构造函数参数是Person 自动装配personBean
    <bean id="worker" class="com.sujiawei.java.bean.Worker" autowire="constructor"/>
    -->

    <bean id="person" class="com.sujiawei.java.bean.Person" />

</beans>