<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="departmentBaseBean" abstract="true">
        <property name="deptName" value="sjwBase"/>
    </bean>

    <bean id="departmentBean" parent="departmentBaseBean" class="com.sujiawei.java.bean.Department" >
        <property name="deptId" value="222"/>
        <property name="deptName" value="sjw"/>
        <property name="deptNo" value="333"/>
    </bean>

</beans>