<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.sujiawei.java">
        <context:include-filter type="regex" expression="com.sujiawei.java.core"/>
        <context:include-filter type="regex" expression="com.sujiawei.java.services"/>
    </context:component-scan>

    <context:annotation-config />

    <!--
    <bean id="OutputHelper" class="com.sujiawei.java.services.impl.OutputHelper">
        <property name="outputGenerator" ref="CsvOutputGenerator"/>
    </bean>
    -->
    <bean id="OutputHelper" class="com.sujiawei.java.services.impl.OutputHelper" />

    <bean id="CsvOutputGenerator" class="com.sujiawei.java.services.impl.CsvOutputGenerator" />
</beans>